<p class="pull-right ">אני לובה פורט, בת 29, סטודנטית לתואר שני במדעי המחשב בבר אילן.
  לאחרונה, התחלתי להתעניין ולהתנסות בצילום. באתר זה, אדגים ואסביר מספר טכניקות צילום ועריכת תמונה שלמדתי.
</p>
<img src="../images/IMG_8684.JPG" class="img-responsive">
<h4 id="history">קצת על ההיסטוריה של הצילום </h4>
<p>

  <a href="http://www.ranlevi.com/texts/ep18_history_of_photography_text/" target="_blank">קישור לאתר עושים היסטוריה
  </a>
</p>
<audio controls>
  <source src="http://pod.icast.co.il/Media/Index/Files/ef2892c1-f694-4764-8f06-571fbed24a0d.icast.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
