<p class="pull-right ">אני לובה פורט, בת 29, סטודנטית לתואר שני במדעי המחשב בבר אילן.
  לאחרונה, התחלתי להתעניין ולהתנסות בצילום. באתר זה, אדגים ואסביר מספר טכניקות צילום ועריכת תמונה שלמדתי.
</p>
<a href="http://photoshopcafe.com/tutorials/HDR_ps/hdr-ps.htm" target="_blank"><img src="../images/IMG_8684.JPG" class="img-responsive"></a>
<img src="../images/IMG-20160524-WA0001.jpg" class="img-responsive">
<h4 id="history">פנורמה </h4>
<img src="../images/IMG_4174_stitch.jpg" class="img-responsive">
<h4 id="history">פנורמה  2</h4>
<panoramacanvasdirective></panoramacanvasdirective>

<h4 id="history">קצת על ההיסטוריה של הצילום </h4>
<p>

  <a href="http://www.ranlevi.com/texts/ep18_history_of_photography_text/" target="_blank">קישור לאתר עושים היסטוריה
  </a>
</p>
<audio controls>
  <source src="http://pod.icast.co.il/Media/Index/Files/ef2892c1-f694-4764-8f06-571fbed24a0d.icast.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<!--http://photoshopcafe.com/tutorials/HDR_ps/hdr-ps.htm-->
