  <p></p>
  <h1>כיצד מצלמים בטכניקת HDR?</h1>

  <ul>
    <li><a ng-click="gotoElement('gear')">המצרכים הנדרשים</a></li>
    <li><a ng-click="gotoElement('software')">תוכנה</a></li>
    <li><a ng-click="gotoElement('howTo')">איך מצלמים בשיטת HDR</a></li>
    <li><a ng-click="gotoElement('howLook')">איך זה נראה דרך המצלמה</a></li>
    <li><a ng-click="gotoElement('explain')">הסבר שלי על HDR</a></li>
    <li><a ng-click="gotoElement('history')">קצת על ההיסטוריה של הצילום </a></li>
    <li></li>
    <li></li>
  </ul>
  <p>התוצאה הסופית</p>
  <img src="../images/IMG_0270-HDR.jpg" alt="מקדש האמת בתאילנד">
  <h2 id="gear">המצרכים הנדרשים</h2>
  <h4>מצלמה</h4>
  <p> המצלמה שלכם צריכה לאפשר צילום מדורג אוטומטי. המונח האנגלי נקרא bracketing. המרווח בין החשיפות השונות צריך להיות 2EV.

  </p>
  <h4 id="software"> תוכנה</h4>
  <p> הטריק הוא לאחד את החשיפות המרובות לתמונה אחת ובשביל זה נצטרך תוכנת פוטושופ, לדוג'.

  </p>
  <h2 id="howTo">איך מצלמים בשיטת HDR</h2>
<h4>מצלמה</h4>
  <p> מוצאים את המקום והזמן ומתארגנים לצילום רגיל.


    נעביר את המצלמה לצלם במצב  bracketing של 3 תמונות עם מרווח של 2 EV בין כל חשיפה. זה בעצם אומר למצלמה שנצלם 3 תמונות ובכל אחת מהן נבחר רמות חשיפה ופיצוי שונות כדי ליצור תמונה "רגילה", חשוכה ומוארת.

    נוודא שאנו על ISO נמוך, כלומר לא יותר מ200.

    היות שאנו עומדים לצלם 3 תמונות, רצוי להקפיד שאין עצמים שזזים בפריים שלכם. עצמים שיזוזו ייראו מטושטשים בתוצאה הסופית וזאת למרות שאפשר לסדר את זה אח"כ בפוטושופ זה די מעיק ומסורבל.

    הנה שלוש התמונות ששימשו כחומר הגלם של התמונה שלעיל


  </p>

  <h4 id="howLook">איך זה נראה דרך המצלמה</h4>

  <img src="../images/brackting.gif" alt="">

 <h4>שלוש התמונות ששימשו כחומר הגלם של התמונה שלעיל</h4>

  <ul ng-controller="GalleryCtrl">
    <li ng-repeat="image in images">
      <a ng-click="openLightboxModal($index)">
        <img ng-src="{{image.thumbUrl}}" class="img-thumbnail">
      </a>
    </li>
  </ul>
 <!-- <img class="pull-left" src="../images/IMG_0270.JPG" alt="">
  <img class="pull-left" src="../images/IMG_0271.JPG" alt="">
  <img class="pull-left" src="../images/IMG_0272.JPG" alt="">-->

  <iframe width="560" height="315" src="https://www.youtube.com/embed/IYrtUTbCSvM" frameborder="0" allowfullscreen></iframe>

  <h4 id="explain">הסבר שלי על HDR </h4>

  <audio controls>
    <source src="../images/hdr2.wav" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
<h4 id="history">קצת על ההיסטוריה של הצילום </h4>

  <audio controls>
    <source src="../images/podcast.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
